/* display */
.accordion-content{
  display:none;
}
.accordion-title {
  display:flex;
}

/* width */
.accordion{
   max-width:100%;
}
.accordion-title {
  width: 100%;
}

/* height */
.accordion-content{
  min-height:100px;
}
.accordion-title {
  height:40px;
}

/* border */
.accordion{
  border:thin solid #cecece;
  border-top:none;
  border-bottom:none;
}
.accordion-content,
.accordion-title{
  border-bottom:thin solid #cecece;
}
.accordion-first {
  border-top:thin solid #cecece;
}

/* padding */
.accordion-content{
  padding-left:15px;
}
.accordion-title {
  padding-left:15px;
}

/* background */
.accordion-content{
  background:white;
}
.accordion-title {
  background:#f4f4f4;
}

/* box-sizing */
.accordion-title {
  box-sizing:border-box;
}

/* align-items */
.accordion-title {
  align-items: center;
}

/* text */
.accordion-title {
    color:#959696;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    text-shadow:0px 1px 1px white;
    text-decoration:none;
}

/* order */
.area-accordion{
  @media screen and (max-width: $secondDrop) {
    order: 2;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
