/* background */
.button-small,
.button-select,
.button-back,
.button-arrow{
  background-color: $darkred;
}

/* color */
[class^="button"]{
  color: white;
}

/* width */
.button-small,
.button-pin{
  width:52px;
}
.button-select{
  width: 100%;
  max-width:200px;
}
.button-back{
  width: 55px;
}
.button-arrow{
  width: 20px;
}
[class^="Time"]{
  width: 100%;
}

/* height */
.button-small,
.button-pin{
  height:45px;
}
.button-select,
.button-back{
  height:35px;
}
.button-arrow{
  height: 30px;
}
[class^="Time"]{
  height: 40px;
}

/* margin */
.Step1-Button:nth-of-type(1){
  margin: 0;
  margin-top: 25px;
}
.Step1-Button:nth-of-type(2){
  margin: 0 10px;
  margin-top: 25px;
}
.button-small{
  margin: 5px;
  margin-top: 25px;
}
.button-back{
  margin-bottom: 20px;
}

/* display */
[type^="button"],
[class*="Time"]{
  display: flex;
}
.button-back{
  display: none;
}

/* justify-content W */
[type^="button"],
[class*="Time"]{
  justify-content: center;
}

/* align-items H */
[type^="button"],
[class*="Time"]{
  align-items: center;
}

/* outline */
button {
  outline: none;
}
