@media screen and (max-width: $firstDrop) {
  .firstDrop{
    display: none;
  }
}
@media screen and (max-width: $secondDrop) {
  .secondDrop{
    display: none;
  }
}
@media screen and (max-width: $thirdDrop) {
  .thirdDrop{
    display: none;
  }
}
@media screen and (max-width: $fourthDrop) {
  .fourthDrop{
    display: none;
  }
}
@media screen and (max-width: $fifthDrop) {
  .fifthDrop{
    display: none;
  }
}
@media screen and (max-width: $sixthDrop) {
  .sixthDrop{
    display: none;
  }
}
