/* div transform into input */
[class="input/"]:empty:not(:focus):before{/* TEST */
        content:attr(data-text);
        color:darkgray;
    }
/* color */
[class^="input/"]{/* TEST */
  color: black;
}
::-webkit-input-placeholder {
  color:darkgray;
}
.invalidInput::-webkit-input-placeholder {
  color:$darkred;
}
.Step1-Button{
  color: white;
}

/* appearance */
.input{/* TEST */
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}
/* background*/
.Step1-Input{
  background-color: white;
  background-color: -moz-field;
}

/* height */
.Step1-Input{
  height: 45px;
}
/* width */
.Step1-Input{
  width: 100%;
  max-width: 380px;
}

/* margin */
.Step1-Input{
  margin-top: 25px;
  margin-right: 0px;
}

/* padding */
.Step1-Input{
  padding: 15px 18px;
}

/* border */
.Step1-Input{
  border: 1px solid lightgray;
}
.Step1-Input:focus,
.Step1-Input:hover{
  border: 1px solid $darkred;
}

/* shadow */
.Step1-Input{
  box-shadow: 0 0 5px 0 lightgray inset;
}
.Step1-Input:focus {
  box-shadow: 0 0 5px 0 $darkred inset;
}

/* font */
.input{/* TEST */
  font: -moz-field;
  font: -webkit-small-control;
}

/* display */
.input{/* TEST */
  display: flex;
}
.input-mark{
  display: none;
}

/* justify-content */
.input{/* TEST */
justify-content: flex-start;
}

/* align-items */
.input{/* TEST */
align-items: center;
}

/* resize */
.input{/* TEST */
  resize: none;
}

/* overflow */
.input{/*  TEST */
  overflow: hidden;
}

/* outline */
.Step1-Input:focus {
  outline: none;
}
