/* order */
.area-map{
  @media screen and (max-width: $secondDrop) {
    order: 1;
  }
}
/* width */
.area-map{
  width:100%;
}
.area-map{
  max-width: 610px;
  @media screen and (max-width: $secondDrop) {
    max-width: 100%;
  }
}
/* height */
.area-map{
  height: 460px;
}
