/* order */
.area-map{
  @media screen and (max-width: $secondDrop) {
    order: 1;
  }
}
/* width */
.area-map,
.area-mapSelected{
  width:100%;
}
.area-map{
  max-width: 610px;
  @media screen and (max-width: $secondDrop) {
    max-width: 100%;
  }
}
/* height */
.area-map,
.area-mapSelected{
  height: 460px;
}
/* display */
.area-mapSelected{
  display: none;
}
