<div class="area-logo">
  <span class="image-logo"></span>
</div>
<div class="area-steps">

  <h class="text-steP1">
    <button class="stepTitle [ js-step1 ]">
      1. Select Studio
    </button>
  </h>
  <p class="text-separator">
    /
  </p>

  <h class="text-steP1">
    <button class="stepTitle [ js-step2 ]">
      2. Select Photo Shoot
    </button>
  </h>
  <p class="text-separator">
    /
  </p>

  <h class="text-steP1">
    <button class="stepTitle [ js-step3 ]">
      3. Select Time
    </button>
  </h>
  <p class="text-separator">
    /
  </p>

  <h class="text-steP1">
    <button class="stepTitle [ js-step4 ]">
      4. Personal Information
    </button>
  </h>
  <p class="text-separator">
    /
  </p>

  <h class="text-steP1">
    <button class="stepTitle [ js-step5 ]">
      5. Summary
    </button>
  </h>
  <p class="text-separator">
    /
  </p>

  <h class="text-steP1">
    <button class="stepTitle [ js-step6 ]">
      6. Confirm
    </button>
  </h>
</div>
