<aside class="area-input-group">
  <form name="client">

  </form>
  <div class="area-textInput">
    <p class="text-indicatorInput">First Name*:</p>
    <input type="text" class="step4Input Step1-Input" name="first-name" placeholder=" "/>
  </div>
  <div class="area-textInput">
    <p class="text-indicatorInput">Last Name*:</p>
    <input type="text" class="step4Input Step1-Input" placeholder=" "/>
  </div>
  <div class="area-textInput">
    <p class="text-indicatorInput">E-mail*:</p>
    <input type="email" class="step4Input Step1-Input" placeholder=" "/>
  </div>
  <div class="area-textInput">
    <p class="text-indicatorInput">Mobile*:</p>
    <input type="text" class="step4Input Step1-Input" required placeholder=" "/>
  </div>
  <p class="text-indicatorInput">*Required fields</p>
  <h class="text-base-titleInput">Other information</h>
  <div class="area-textInput">
    <p class="text-indicatorInput">What type of photo shoot would you like? *</p>
    <input type="text" class="step4Input Step1-Input" placeholder=" "/>
  </div>
  <div class="area-textInput">
    <p class="text-indicatorInput">How many babies/children will be in the photo shoot? *</p>
    <input type="text" class="step4Input Step1-Input" placeholder=" "/>
  </div>
  <div class="area-textInput">
    <p class="text-indicatorInput">How many adults will be in the photo shoot? *</p>
    <input type="text" class="step4Input Step1-Input" placeholder=" "/>
  </div>
  <div class="area-textInput">
    <p class="text-indicatorInput">How did you hear about PixiFoto? *</p>
    <input type="text" class="step4Input Step1-Input" placeholder=" "/>
  </div>
  <p class="text-indicatorInput">*Required fields</p>
</aside>
