

<span class="text-group">
  <p class="text-indicator">Photo Shoot:</p>
  <p class="text-target">Unique Newborn Experience</p>
</span>


<span class="text-group">
  <p class="text-indicator">Description:</p>
  <p class="text-target">Our Unique Newborn Photo Shoot is suitable for babies up to 6 weeks old, offering an unforgettable experience tailored especially for you and your baby. Lasting approximately 1 hour we will take a wide range of images. You will receive a complimentary dig</p>
</span>


<span class="text-group">
  <p class="text-indicator">Price:</p>
  <p class="text-target">£25.00</div>
</span>


<span class="text-group">
   <p class="text-indicator">Address:</p>
   <p class="text-target">Mothercare, Copdock Mill Interchange, London Road, Ipswich, IP8 3TT</p>
</span>


<span class="text-group">
   <p class="text-indicator">Duration:</p>
   <p class="text-target"> 1 hour</p>
</span>


<span class="text-group">
   <p class="text-indicator">Date:</p>
   <p class="text-target">May 21, 2017 6:00 PM</p>
</span>


</div>
<!-- step 3 timePicker -->
<hr class="separator-long separator-inMain">

<span class="area-BST [ js-area-BST ]">
  <p class="text-BST">All times are shown in BST.</p>
</span>

<h1 class="text-monthYear [ js-text-monthYear ]">May 2017</h1>

<div class="area-timePicker [ js-area-timePicker ]">



<aside class="area-arrow">
<button class="button-arrow [ js-button-arrow ]"></button>
</aside>



<aside class="area-columsDay">


<span class="area-timeDay">
  <h1>Sun 14</h1>
  <hr class="separator-short">

<section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
  <button class="area-ChooseHour [ js-button-ChooseHour ]">
    <p>+ MORNING</p>
    <div class="area-avaliable">3 available</div>
  </button>
  <button class="area-ExpandHours [ js-button-ExpandHours ]">
    <p>- MORNING</p>
    <div class="Time9">9:00</div>
    <div class="Time10">10:00</div>
    <div class="Time11">11:00</div>
  </button>
  <button class="area-TimePicked [ js-button-TimePicked ]">
    <div class="TimePicked">TEST</div>
  </button>
</section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ AFTERNOON</p>
      <div class="area-avaliable">5 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- AFTERNOON</p>
      <div class="Time12">12:00</div>
      <div class="Time13">13:00</div>
      <div class="Time14">14:00</div>
      <div class="Time15">15:00</div>
      <div class="Time16">16:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ EVENING</p>
      <div class="area-avaliable">2 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- EVENING</p>
      <div class="Time17">17:00</div>
      <div class="Time18">18:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">
</span>


<span class="area-timeDay sixthDrop">
  <h1>Sun 14</h1>
  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ MORNING</p>
      <div class="area-avaliable">3 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- MORNING</p>
      <div class="Time9">9:00</div>
      <div class="Time10">10:00</div>
      <div class="Time11">11:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ AFTERNOON</p>
      <div class="area-avaliable">5 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- AFTERNOON</p>
      <div class="Time12">12:00</div>
      <div class="Time13">13:00</div>
      <div class="Time14">14:00</div>
      <div class="Time15">15:00</div>
      <div class="Time16">16:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ EVENING</p>
      <div class="area-avaliable">2 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- EVENING</p>
      <div class="Time17">17:00</div>
      <div class="Time18">18:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

</span>


<span class="area-timeDay fifthDrop">
  <h1>Sun 14</h1>
  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ MORNING</p>
      <div class="area-avaliable">3 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- MORNING</p>
      <div class="Time9">9:00</div>
      <div class="Time10">10:00</div>
      <div class="Time11">11:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ AFTERNOON</p>
      <div class="area-avaliable">5 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- AFTERNOON</p>
      <div class="Time12">12:00</div>
      <div class="Time13">13:00</div>
      <div class="Time14">14:00</div>
      <div class="Time15">15:00</div>
      <div class="Time16">16:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ EVENING</p>
      <div class="area-avaliable">2 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- EVENING</p>
      <div class="Time17">17:00</div>
      <div class="Time18">18:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

</span>


<span class="area-timeDay fourthDrop">
  <h1>Sun 14</h1>
  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ MORNING</p>
      <div class="area-avaliable">3 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- MORNING</p>
      <div class="Time9">9:00</div>
      <div class="Time10">10:00</div>
      <div class="Time11">11:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ AFTERNOON</p>
      <div class="area-avaliable">5 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- AFTERNOON</p>
      <div class="Time12">12:00</div>
      <div class="Time13">13:00</div>
      <div class="Time14">14:00</div>
      <div class="Time15">15:00</div>
      <div class="Time16">16:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ EVENING</p>
      <div class="area-avaliable">2 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- EVENING</p>
      <div class="Time17">17:00</div>
      <div class="Time18">18:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

</span>


<span class="area-timeDay thirdDrop">
  <h1>Sun 14</h1>
  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ MORNING</p>
      <div class="area-avaliable">3 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- MORNING</p>
      <div class="Time9">9:00</div>
      <div class="Time10">10:00</div>
      <div class="Time11">11:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ AFTERNOON</p>
      <div class="area-avaliable">5 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- AFTERNOON</p>
      <div class="Time12">12:00</div>
      <div class="Time13">13:00</div>
      <div class="Time14">14:00</div>
      <div class="Time15">15:00</div>
      <div class="Time16">16:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ EVENING</p>
      <div class="area-avaliable">2 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- EVENING</p>
      <div class="Time17">17:00</div>
      <div class="Time18">18:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

</span>


<span class="area-timeDay secondDrop">
  <h1>Sun 14</h1>
  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ MORNING</p>
      <div class="area-avaliable">3 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- MORNING</p>
      <div class="Time9">9:00</div>
      <div class="Time10">10:00</div>
      <div class="Time11">11:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ AFTERNOON</p>
      <div class="area-avaliable">5 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- AFTERNOON</p>
      <div class="Time12">12:00</div>
      <div class="Time13">13:00</div>
      <div class="Time14">14:00</div>
      <div class="Time15">15:00</div>
      <div class="Time16">16:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ EVENING</p>
      <div class="area-avaliable">2 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- EVENING</p>
      <div class="Time17">17:00</div>
      <div class="Time18">18:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

</span>


<span class="area-timeDay firstDrop">
  <h1>Sun 14</h1>
  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ MORNING</p>
      <div class="area-avaliable">3 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- MORNING</p>
      <div class="Time9">9:00</div>
      <div class="Time10">10:00</div>
      <div class="Time11">11:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ AFTERNOON</p>
      <div class="area-avaliable">5 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- AFTERNOON</p>
      <div class="Time12">12:00</div>
      <div class="Time13">13:00</div>
      <div class="Time14">14:00</div>
      <div class="Time15">15:00</div>
      <div class="Time16">16:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

  <section class="area-pickTime  step3dot1dot1 step3dot1dot1 "  >
    <button class="area-ChooseHour [ js-button-ChooseHour ]">
      <p>+ EVENING</p>
      <div class="area-avaliable">2 available</div>
    </button>
    <button class="area-ExpandHours [ js-button-ExpandHours ]">
      <p>- EVENING</p>
      <div class="Time17">17:00</div>
      <div class="Time18">18:00</div>
    </button>
    <button class="area-TimePicked [ js-button-TimePicked ]">
      <div class="TimePicked">TEST</div>
    </button>
  </section>

  <hr class="separator-short">

</span>


</aside>



<aside class="area-arrow">
<button class="button-arrow [ js-button-arrow ]"></button>
</aside>



</div>
