<span class="text-group">
  <p class="text-indicator">Photo Shoot:</p>
  <p class="text-target">Unique Newborn Experience</p>
</span>
<span class="text-group">
  <p class="text-indicator">Description:</p>
  <p class="text-target">Our Unique Newborn Photo Shoot is suitable for babies up to 6 weeks old, offering an unforgettable experience tailored especially for you and your baby. Lasting approximately 1 hour we will take a wide range of images. You will receive a complimentary dig</p>
</span>
<span class="text-group">
  <p class="text-indicator">Price:</p>
  <p class="text-target">£25.00</div>
</span>
<span class="text-group">
   <p class="text-indicator">Address:</p>
   <p class="text-target">Mothercare, Copdock Mill Interchange, London Road, Ipswich, IP8 3TT</p>
</span>
<span class="text-group">
   <p class="text-indicator">Duration:</p>
   <p class="text-target"> 1 hour</p>
</span>
<span class="text-group">
   <p class="text-indicator">Date:</p>
   <p class="text-target">May 21, 2017 6:00 PM</p>
</span>
</div>
<!-- step 3 timePicker -->
<hr class="separator-long separator-inMain">
<span class="area-BST">
<p class="text-BST">All times are shown in BST.</p>
</span>
<h class="text-monthYear">May 2017</h>
<div class="area-timePicker">
<aside class="area-arrow">
<span class="button-arrow"></span>
</aside>
<aside class="area-columsDay">
<span class="area-timeDay">
  <h>Sun 14</h>
  <hr class="separator-short">
<button type="button" class="pickTime step3dot1dot1 step3dot1dot1Hover step3dot1dot1 step3dot1dot1HoverHover" onclick="step3dot1()">
  <p>+ MORNING</p>
  <div class="area-avaliable">3 available</div>
  <div class="Time9">9:00</div>
  <div class="Time10">10:00</div>
  <div class="Time11">11:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ AFTERNOON</p>
  <div class="area-avaliable">5 available</div>
  <div class="Time12">12:00</div>
  <div class="Time13">13:00</div>
  <div class="Time14">14:00</div>
  <div class="Time15">15:00</div>
  <div class="Time16">16:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover [ js-my-button ]" onclick="step3dot1()">
  <p>+ EVENING</p>
  <div class="area-avaliable">2 available</div>
  <div class="Time17">17:00</div>
  <div class="Time18">18:00</div>
</button>
  <hr class="separator-short">
</span>
<span class="area-timeDay sixthDrop">
  <h>Sun 14</h>
  <hr class="separator-short">
  <button type="button" class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
    <p>+ MORNING</p>
    <div class="area-avaliable">3 available</div>
    <div class="Time9">9:00</div>
    <div class="Time10">10:00</div>
    <div class="Time11">11:00</div>
  </button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ AFTERNOON</p>
  <div class="area-avaliable">5 available</div>
  <div class="Time12">12:00</div>
  <div class="Time13">13:00</div>
  <div class="Time14">14:00</div>
  <div class="Time15">15:00</div>
  <div class="Time16">16:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ EVENING</p>
  <div class="area-avaliable">2 available</div>
  <div class="Time17">17:00</div>
  <div class="Time18">18:00</div>
</button>
  <hr class="separator-short">
</span>
<span class="area-timeDay fifthDrop">
  <h>Sun 14</h>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ MORNING</p>
  <div class="area-avaliable">3 available</div>
  <div class="Time9">9:00</div>
  <div class="Time10">10:00</div>
  <div class="Time11">11:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ AFTERNOON</p>
  <div class="area-avaliable">5 available</div>
  <div class="Time12">12:00</div>
  <div class="Time13">13:00</div>
  <div class="Time14">14:00</div>
  <div class="Time15">15:00</div>
  <div class="Time16">16:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ EVENING</p>
  <div class="area-avaliable">2 available</div>
  <div class="Time17">17:00</div>
  <div class="Time18">18:00</div>
</button>
  <hr class="separator-short">
</span>
<span class="area-timeDay fourthDrop">
  <h>Sun 14</h>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ MORNING</p>
  <div class="area-avaliable">3 available</div>
  <div class="Time9">9:00</div>
  <div class="Time10">10:00</div>
  <div class="Time11">11:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ AFTERNOON</p>
  <div class="area-avaliable">5 available</div>
  <div class="Time12">12:00</div>
  <div class="Time13">13:00</div>
  <div class="Time14">14:00</div>
  <div class="Time15">15:00</div>
  <div class="Time16">16:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ EVENING</p>
  <div class="area-avaliable">2 available</div>
  <div class="Time17">17:00</div>
  <div class="Time18">18:00</div>
</button>
  <hr class="separator-short">
</span>
<span class="area-timeDay thirdDrop">
  <h>Sun 14</h>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ MORNING</p>
  <div class="area-avaliable">3 available</div>
  <div class="Time9">9:00</div>
  <div class="Time10">10:00</div>
  <div class="Time11">11:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ AFTERNOON</p>
  <div class="area-avaliable">5 available</div>
  <div class="Time12">12:00</div>
  <div class="Time13">13:00</div>
  <div class="Time14">14:00</div>
  <div class="Time15">15:00</div>
  <div class="Time16">16:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ EVENING</p>
  <div class="area-avaliable">2 available</div>
  <div class="Time17">17:00</div>
  <div class="Time18">18:00</div>
</button>
  <hr class="separator-short">
</span>
<span class="area-timeDay secondDrop">
  <h>Sun 14</h>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ MORNING</p>
  <div class="area-avaliable">3 available</div>
  <div class="Time9">9:00</div>
  <div class="Time10">10:00</div>
  <div class="Time11">11:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ AFTERNOON</p>
  <div class="area-avaliable">5 available</div>
  <div class="Time12">12:00</div>
  <div class="Time13">13:00</div>
  <div class="Time14">14:00</div>
  <div class="Time15">15:00</div>
  <div class="Time16">16:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ EVENING</p>
  <div class="area-avaliable">2 available</div>
  <div class="Time17">17:00</div>
  <div class="Time18">18:00</div>
</button>
  <hr class="separator-short">
</span>
<span class="area-timeDay firstDrop">
  <h>Sun 14</h>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ MORNING</p>
  <div class="area-avaliable">3 available</div>
  <div class="Time9">9:00</div>
  <div class="Time10">10:00</div>
  <div class="Time11">11:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ AFTERNOON</p>
  <div class="area-avaliable">5 available</div>
  <div class="Time12">12:00</div>
  <div class="Time13">13:00</div>
  <div class="Time14">14:00</div>
  <div class="Time15">15:00</div>
  <div class="Time16">16:00</div>
</button>
  <hr class="separator-short">
<button class="pickTime step3dot1dot1 step3dot1dot1Hover" onclick="step3dot1()">
  <p>+ EVENING</p>
  <div class="area-avaliable">2 available</div>
  <div class="Time17">17:00</div>
  <div class="Time18">18:00</div>
</button>
  <hr class="separator-short">
</span>
</aside>
<aside class="area-arrow">
<span class="button-arrow"></span>
</aside>
</div>
