<section class="area-main area-results step1dot2Main">
  <div class="area-resultsNumber">
    <h class="text-results">4 results for salons near </h>
    <span class="step1Salons text-results"></span>
  </div>
  <div class="area-accordionMap">
    <aside class="area-accordion">
      <div class="accordion">


        <div class="[ js-accordion-row ]">
          <a class="accordion-title accordion-first" href="#row-one">
            <p class="[ js-accordion-title ]">
              1.Glow Beauty Place
            </p>
          </a>
          <span class="accordion-content" id="row-one">
              <p class="[ js-accordion-description ]">
                Telefon: 0752 566 796
              </p>
              <button type="button" class="button-Step1dot2dot1 [ js-button-step2 ]">Select</button>
          </span>
        </div>

        <div class="[ js-accordion-row ]">
          <a class="accordion-title" href="#row-two">
            <p class="[ js-accordion-title ]">
              2.The Makeup Academy
            </p>
          </a>
          <span class="accordion-content" id="row-two">
            <p class="[ js-accordion-description ]">
              Telefon: 0752 422 275
            </p>
              <button type="button" class="button-Step1dot2dot1 [ js-button-step2 ]">Select</button>
          </span>
        </div>

        <div class="[ js-accordion-row ]">
          <a class="accordion-title" href="#row-three">
            <p class="[ js-accordion-title ]">
              3.Michelle Center
            </p>
          </a>
          <span class="accordion-content" id="row-three">
            <p class="[ js-accordion-description ]">
                Telefon: 0752 556 796
            </p>
              <button type="button" class="button-Step1dot2dot1 [ js-button-step2 ]">Select</button>
          </span>
      </div>

        <div class="[ js-accordion-row ]">
          <a class="accordion-title" href="#row-four">
            <p class="[ js-accordion-title ]">
              4.Carmen Style
            </p>
          </a>
          <span class="accordion-content" id="row-four">
              <p class="[ js-accordion-description ]">
                Telefon: 0230 520 888
              </p>
              <button type="button" class="button-Step1dot2dot1 [ js-button-step2 ]">Select</button>
          </span>
        </div>


      </div>
    </aside>
    <aside id="map-area" class="area-map">
    </aside>
  </div>
  <div>
    <h class="text-noStudio">No studio near you? Please click <a href="">here</a> to see if we have a pop-up studio in your area.</h>
  </div>
</section>
