<h class="text-base-title [ js-text-baseTitle ]">My Details</h>

<span class="text-group">
   <p class="text-indicator">Name:</p>
   <p class="text-target">Cioban Alin-Florin</p>
</span>

<span class="text-group">
   <p class="text-indicator">Email:</p>
   <p class="text-target">soalenaxlyx@yahoo.com</p>
</span>

<span class="text-group">
   <p class="text-indicator">Mobile:</p>
   <p class="text-target">0747332638</p>
</span>

<hr class="separator-inMain">
<aside id="map-areaSelected" class="area-mapSelected">
</aside>
