<aside class="area-select">
  <h class="text-serviceTitle">Standard Photo Shoot</h>
  <h class="text-money">£9.99</h>
  <div class="area-imageText">
    <span class="image-service"></span>
    <p class="text-service">At PixiFoto we pride ourselves in offering a fun and exciting photography experience. Our Standard Photo Shoot is a full photo shoot suitable for you and your family; we have the expertise and experience to get the best results. Lasting approximately 30 minutes we will take between 25 and 30 images capturing a variety of photography styles from traditional to contemporary, incorporating vintage, seasonal and character posing. You will receive a complimentary digital image from the day, a printed 10""x8"" portrait and have the opportunity to view and purchase other images from your photo shoot. Book today and let us capture those magical moments in time, forever!</p>
  </div>
  <div class="area-selectButton">
    <input type="button" class="button-Step2 button-select" value="Select" onclick="step3()"/>
  </div>
</aside>



<aside class="area-select">
  <h class="text-serviceTitle">Standard Photo Shoot</h>
  <h class="text-money">£9.99</h>
  <div class="area-imageText">
    <span class="image-service"></span>
    <p class="text-service">At PixiFoto we pride ourselves in offering a fun and exciting photography experience. Our Standard Photo Shoot is a full photo shoot suitable for you and your family; we have the expertise and experience to get the best results. Lasting approximately 30 minutes we will take between 25 and 30 images capturing a variety of photography styles from traditional to contemporary, incorporating vintage, seasonal and character posing. You will receive a complimentary digital image from the day, a printed 10""x8"" portrait and have the opportunity to view and purchase other images from your photo shoot. Book today and let us capture those magical moments in time, forever!</p>
  </div>
  <div class="area-selectButton">
    <input type="button" class="button-Step2 button-select" value="Select" onclick="step3()"/>
  </div>
</aside>
