{{!--
  This is the base layout for your project, and will be used on every page.
--}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assist-offices</title>
    <link rel="stylesheet" href="./app.css">
  </head>
  <body>
    {{!--
      Pages you create in the src/pages/ folder are inserted here when the flattened page is created.
    --}}
    <section class="pages">
      {{> body}}
    </section>
    <!-- scripts -->
    <script src="./vendor.js"></script>
    <script src="./app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- buttton-pin:hover:before -->
    <script>/* test */
    $(document).ready(function(){
      $(".button-pin").on({
        mouseenter: function () {
          $(".icon-pin:hover:before").css("color","white");
      }
    })});
    </script>
    <!-- step0 -->
    <script>
    function step0(){
       var step1Salon = document.getElementsByClassName('step1Input')[0].value;
       if( step1Salon.length==0 ){
         $('.step1Input').addClass('invalidInput');
           document.getElementsByClassName('step1Input')[0].placeholder = "Invalid Studio";
       return;
       }
    else{
      var title = document.getElementsByClassName('step1Salons')[0];
      title.innerHTML = step1Salon;
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'block';
    }
    }
    </script>
    <!-- step1 -->
    <script>
    function step1(){
      /* step1 */
      document.getElementsByClassName('text-base-paragraph')[0].style.display = 'block';
      document.getElementsByClassName('text-base-paragraph')[1].style.display = 'block';
      document.getElementsByClassName('text-base-title')[0].innerHTML = "Select Your Studio";
      document.getElementsByClassName('text-base-paragraph')[0].innerHTML = "PixiFoto are the UK and Ireland’s most trusted baby, child and family portrait photography specialists, our studios are located nationwide in selected Mothercare & Debenhams stores.";
      document.getElementsByClassName('text-base-paragraph')[1].innerHTML = "Booking your photo shoot is very simple. To start, please enter your location below so that we can find your nearest PixiFoto studio. We can’t wait to give you a photo shoot experience to remember.";
      document.getElementsByClassName( 'area-inputStudio' )[0].style.display = 'flex';
      /* accordion + map*/
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'block';
      /* step2 */
      document.getElementsByClassName( 'area-select' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-select' )[1].style.display = 'none';
      document.getElementsByClassName( 'separator-exMain' )[0].style.display = 'none';
      document.getElementsByClassName( 'button-back' )[0].style.display = 'none';
      /* step 3 */
      document.getElementsByClassName( 'text-group' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[2].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[3].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[4].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[5].style.display = 'none';
      document.getElementsByClassName( 'separator-inMain' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-BST' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-monthYear' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-timePicker' )[0].style.display = 'none';
      document.getElementsByClassName( 'button-back' )[1].style.display = 'none';
      /* step4 */
      document.getElementsByClassName( 'area-input-group' )[0].style.display = 'none';
      /* step 5 */
      document.getElementsByClassName('text-base-title')[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[6].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[7].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[8].style.display = 'none';
      document.getElementsByClassName( 'separator-inMain' )[1].style.display = 'none';
      document.getElementsByClassName( 'input-mark' )[0].style.display = 'none';
      /* step 6 */
      document.getElementsByClassName( 'text-boldConfirm' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-boldConfirm' )[1].style.display = 'none';
      /* default */
      $('html, body').animate({scrollTop : 0},'fast'); /*.scrollTop( 0 )*/
      return false;
    }
    </script>
    <!-- step2 -->
    <script>
    function step2(){
      /* step 1 */
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-inputStudio' )[0].style.display = 'none';
      /* step 2 */
      document.getElementsByClassName('text-base-title')[0].innerHTML = "Select Your Photo Shoot";
      document.getElementsByClassName('text-base-paragraph')[0].innerHTML = "At PixiFoto we pride ourselves in offering a fun and exciting photography experience and with a variety of photo shoots to choose from, there is something for everyone.";
      document.getElementsByClassName('text-base-paragraph')[1].innerHTML = "We have the expertise to get the best results so book today and let us capture those magical moments in time, forever.";
      document.getElementsByClassName( 'area-select' )[0].style.display = 'block';
      document.getElementsByClassName( 'area-select' )[1].style.display = 'block';
      document.getElementsByClassName( 'separator-exMain' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].onclick = function(){ step1(); };
      /* step 3 */
      document.getElementsByClassName( 'text-group' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[2].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[3].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[4].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[5].style.display = 'none';
      document.getElementsByClassName( 'separator-inMain' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-BST' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-monthYear' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-timePicker' )[0].style.display = 'none';
      document.getElementsByClassName( 'button-back' )[1].style.display = 'none';
      /* step 4 */
      document.getElementsByClassName( 'area-input-group' )[0].style.display = 'none';
      /* step 5 */
      document.getElementsByClassName('text-base-title')[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[6].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[7].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[8].style.display = 'none';
      document.getElementsByClassName( 'separator-inMain' )[1].style.display = 'none';
      document.getElementsByClassName( 'input-mark' )[0].style.display = 'none';
      /* step 6 */
      document.getElementsByClassName( 'text-boldConfirm' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-boldConfirm' )[1].style.display = 'none';
      /* default */
      $('html, body').animate({scrollTop : 0},'fast'); /*.scrollTop( 0 )*/
      return false;
    }
    </script>
    <!-- step3 -->
    <script>
    function step3(){
      $('html, body').animate({scrollTop : 0},'fast');
      /* step 1*/
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-inputStudio' )[0].style.display = 'none';
      /* step 2*/
      document.getElementsByClassName( 'area-select' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-select' )[1].style.display = 'none';
      /* step 3*/
      document.getElementsByClassName('text-base-title')[0].innerHTML = "Select Your Time";
      document.getElementsByClassName('text-base-paragraph')[0].style.display = 'none';
      document.getElementsByClassName('text-base-paragraph')[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[0].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[1].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[2].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[3].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[4].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[5].style.display = 'flex';
      document.getElementsByClassName( 'separator-inMain' )[0].style.display = 'block';
      document.getElementsByClassName( 'area-BST' )[0].style.display = 'flex';
      document.getElementsByClassName( 'text-monthYear' )[0].style.display = 'block';
      document.getElementsByClassName( 'area-timePicker' )[0].style.display = 'flex';
      document.getElementsByClassName( 'button-back' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].onclick = function(){ step2(); };
      document.getElementsByClassName( 'button-back' )[1].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[1].onclick = function(){ step4(); };
      document.getElementsByClassName( 'button-back' )[1].disabled = true;
      document.getElementsByClassName( 'button-back' )[1].style.background = 'pink';
      document.getElementsByClassName( 'separator-exMain' )[0].style.display = 'block';
      /* step4 */
      document.getElementsByClassName( 'area-input-group' )[0].style.display = 'none';
      /* step 5 */
      document.getElementsByClassName('text-base-title')[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[6].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[7].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[8].style.display = 'none';
      document.getElementsByClassName( 'separator-inMain' )[1].style.display = 'none';
      document.getElementsByClassName( 'input-mark' )[0].style.display = 'none';
      /* step 6 */
      document.getElementsByClassName( 'text-boldConfirm' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-boldConfirm' )[1].style.display = 'none';
      /* default */
      return false;
    }
    </script>
    <!-- step3.1 -->
    <script>
    $(".Time9").css("display","none");
    $(".Time10").css("display","none");
    $(".Time11").css("display","none");
    $(".Time12").css("display","none");
    $(".Time13").css("display","none");
    $(".Time14").css("display","none");
    $(".Time15").css("display","none");
    $(".Time16").css("display","none");
    $(".Time17").css("display","none");
    $(".Time18").css("display","none");
    $(".pickTime").on({
      click:
      function step3dot1(){
        document.getElementsByClassName( 'button-back' )[1].style.background = '#E36A63';
        document.getElementsByClassName( 'button-back' )[1].disabled = false;
       $(this).find(".step3dot1dot1").css("height","auto");
       $(this).removeClass("step3dot1dot1Hover");
       $(this).find(".area-avaliable").css("display","none");
       $(this).find(".Time9").css("display","block");
       $(this).find(".Time10").css("display","block");
       $(this).find(".Time11").css("display","block");
       $(this).find(".Time12").css("display","block");
       $(this).find(".Time13").css("display","block");
       $(this).find(".Time14").css("display","block");
       $(this).find(".Time15").css("display","block");
       $(this).find(".Time16").css("display","block");
       $(this).find(".Time17").css("display","block");
       $(this).find(".Time18").css("display","block");
       for (i = 9; i <= 18; i++) {
         if($(".Time'+i+'").style.display != "none"){
          $(".Time'+i+'").style.display = 'none';
         }else{
          $(".Time'+i+'").style.display = 'block';
         }
       }
      }

    });
    </script>
    <!-- step4 -->
    <script>
    function step4(){
      /* step1 */
      document.getElementsByClassName('text-base-paragraph')[0].style.display = 'none';
      document.getElementsByClassName('text-base-paragraph')[1].style.display = 'none';
      document.getElementsByClassName( 'area-inputStudio' )[0].style.display = 'none';
      /* accordion + map*/
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'none';
      /* step2 */
      document.getElementsByClassName( 'area-select' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-select' )[1].style.display = 'none';
      /* step 3 */
      document.getElementsByClassName( 'area-BST' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-monthYear' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-timePicker' )[0].style.display = 'none';
      /* step 4 */
      document.getElementsByClassName('text-base-title')[0].innerHTML = "Your Details";
      document.getElementsByClassName( 'text-group' )[0].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[1].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[2].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[3].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[4].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[5].style.display = 'flex';
      document.getElementsByClassName( 'separator-inMain' )[0].style.display = 'block';
      document.getElementsByClassName( 'area-input-group' )[0].style.display = 'block';
      /* step 4 inputs */
      document.getElementsByClassName( 'separator-exMain' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].onclick = function(){ step3(); };
      document.getElementsByClassName( 'button-back' )[1].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[1].disabled = false;
      document.getElementsByClassName( 'button-back' )[1].onclick = function(){ step4Confirm(); };
      /* step 5 */
      document.getElementsByClassName('text-base-title')[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[6].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[7].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[8].style.display = 'none';
      document.getElementsByClassName( 'separator-inMain' )[1].style.display = 'none';
      document.getElementsByClassName( 'input-mark' )[0].style.display = 'none';
      /* step 6 */
      document.getElementsByClassName( 'text-boldConfirm' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-boldConfirm' )[1].style.display = 'none';
      /* default */
      $('html, body').animate({scrollTop : 0},'fast'); /*.scrollTop( 0 )*/
      return false;
    }
    </script>
    <!-- step4 Confirm -->
    <script>
    function step4Confirm(){
      /* step 4 inputs CONFIRM */
      for (i = 0; i <= 7; i++) {
        var input = document.getElementsByClassName('step4Input')[i].value;
        if( input.length==0 ){
          $('.step1Input').addClass('invalidInput');
            document.getElementsByClassName('step4Input')[i].placeholder = "No imput!!!";
        }
        else{
          document.getElementsByClassName( 'button-back' )[1].style.background = '#E36A63';
          document.getElementsByClassName( 'button-back' )[1].innerHTML = "Continue";
          document.getElementsByClassName( 'button-back' )[1].onclick = function(){ step5(); };
        }
      }
    }
    </script>
    <!-- step5 -->
    <script>
    function step5(){
      /* step1 */
      document.getElementsByClassName('text-base-paragraph')[0].style.display = 'none';
      document.getElementsByClassName('text-base-paragraph')[1].style.display = 'none';
      document.getElementsByClassName( 'area-inputStudio' )[0].style.display = 'none';
      /* accordion + map*/
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'none';
      /* step2 */
      document.getElementsByClassName( 'area-select' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-select' )[1].style.display = 'none';
      /* step 3 */
      document.getElementsByClassName( 'area-BST' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-monthYear' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-timePicker' )[0].style.display = 'none';
      /* step 4 */
      document.getElementsByClassName( 'area-input-group' )[0].style.display = 'none';
      /* step 5 */
      document.getElementsByClassName('text-base-title')[0].innerHTML = "Booking Summary";
      document.getElementsByClassName( 'text-group' )[0].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[1].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[2].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[3].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[4].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[5].style.display = 'flex';
      document.getElementsByClassName( 'separator-inMain' )[0].style.display = 'block';
      document.getElementsByClassName('text-base-title')[1].style.display = 'block';
      document.getElementsByClassName( 'text-group' )[6].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[7].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[8].style.display = 'flex';
      document.getElementsByClassName( 'separator-inMain' )[1].style.display = 'block';
      document.getElementsByClassName( 'separator-exMain' )[0].style.display = 'block';
      document.getElementsByClassName( 'input-mark' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].onclick = function(){ step4(); };
      document.getElementsByClassName( 'button-back' )[1].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[1].disabled = true;
      document.getElementsByClassName( 'button-back' )[1].style.background = 'lightgreen';
      document.getElementsByClassName( 'button-back' )[1].innerHTML = "Pay";
      /* step 6 */
      document.getElementsByClassName( 'text-boldConfirm' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-boldConfirm' )[1].style.display = 'none';
      /* default */
      $('html, body').animate({scrollTop : 0},'fast'); /*.scrollTop( 0 )*/
      return false;
    }
    /* step 5 Continue */
    $(document).ready(function () {
      $('.step5Continue').on('click',function () {
        if ($('.step5Continue').is(':checked')) {
          document.getElementsByClassName( 'button-back' )[1].disabled = false;
          document.getElementsByClassName( 'button-back' )[1].style.background = 'darkgreen';
          document.getElementsByClassName( 'button-back' )[1].onclick = function(){ step6(); };

        } else {
          document.getElementsByClassName( 'button-back' )[1].disabled = true;
          document.getElementsByClassName( 'button-back' )[1].style.background = 'lightgreen';
        }
      });
    });
    </script>
    <!-- step6 -->
    <script>
    function step6(){
      /* step1 */
      document.getElementsByClassName('text-base-paragraph')[0].style.display = 'none';
      document.getElementsByClassName('text-base-paragraph')[1].style.display = 'none';
      document.getElementsByClassName( 'area-inputStudio' )[0].style.display = 'none';
      /* accordion + map*/
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'none';
      /* step2 */
      document.getElementsByClassName( 'area-select' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-select' )[1].style.display = 'none';
      /* step 3 */
      document.getElementsByClassName( 'area-BST' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-monthYear' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-timePicker' )[0].style.display = 'none';
      /* step 4 */
      document.getElementsByClassName( 'area-input-group' )[0].style.display = 'none';
      document.getElementsByClassName( 'separator-exMain' )[1].style.display = 'none';
      document.getElementsByClassName( 'button-back' )[1].style.display = 'none';
      /* step 5 */
      document.getElementsByClassName( 'separator-exMain' )[0].style.display = 'none';
      document.getElementsByClassName( 'input-mark' )[0].style.display = 'none';
      document.getElementsByClassName( 'button-back' )[0].style.display = 'none';
      /* step 6 */
      document.getElementsByClassName('text-base-title')[0].innerHTML = "Booking Complete";
      document.getElementsByClassName( 'text-boldConfirm' )[0].style.display = 'block';
      document.getElementsByClassName( 'text-boldConfirm' )[1].style.display = 'block';
      document.getElementsByClassName( 'text-group' )[0].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[1].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[2].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[3].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[4].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[5].style.display = 'flex';
      document.getElementsByClassName( 'separator-inMain' )[0].style.display = 'block';
      document.getElementsByClassName('text-base-title')[1].style.display = 'block';
      document.getElementsByClassName( 'text-group' )[6].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[7].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[8].style.display = 'flex';
      document.getElementsByClassName( 'separator-inMain' )[1].style.display = 'block';
      /* default */
      $('html, body').animate({scrollTop : 0},'fast'); /*.scrollTop( 0 )*/
      return false;
    }
    </script>
  </body>
</html>
