{{!--
  This is the base layout for your project, and will be used on every page.
--}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assist-offices</title>
    <link rel="stylesheet" href="./app.css">
  </head>
  <body>
    {{!--
      Pages you create in the src/pages/ folder are inserted here when the flattened page is created.
    --}}
    <section class="pages">
      {{> body}}
    </section>
    <!-- scripts -->
    <script src="./vendor.js"></script>
    <script src="./app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- buttton-pin:hover:before -->
    <script>/* test */
    $(document).ready(function(){
      $(".button-pin").on({
        mouseenter: function () {
          $(".icon-pin:hover:before").css("color","white");
      }
    })});
    </script>
    <!-- step0 -->
    <script>
    function step0(){
       var step1Salon = document.getElementsByClassName('step1Input')[0].value;
       if( step1Salon.length==0 ){
         $('.step1Input').addClass('invalidInput');
           document.getElementsByClassName('step1Input')[0].placeholder = "Invalid Studio";
       return;
       }
    else{
      var title = document.getElementsByClassName('step1Salons')[0];
      title.innerHTML = step1Salon;
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'block';
    }
    }
    </script>
    <!-- step1 -->
    <script>
    function step1(){
      /* step1 */
      document.getElementsByClassName('text-base-paragraph')[0].style.display = 'block';
      document.getElementsByClassName('text-base-paragraph')[1].style.display = 'block';
      document.getElementsByClassName('text-base-title')[0].innerHTML = "Select Your Studio";
      document.getElementsByClassName('text-base-paragraph')[0].innerHTML = "PixiFoto are the UK and Ireland’s most trusted baby, child and family portrait photography specialists, our studios are located nationwide in selected Mothercare & Debenhams stores.";
      document.getElementsByClassName('text-base-paragraph')[1].innerHTML = "Booking your photo shoot is very simple. To start, please enter your location below so that we can find your nearest PixiFoto studio. We can’t wait to give you a photo shoot experience to remember.";
      document.getElementsByClassName( 'area-inputStudio' )[0].style.display = 'flex';
      /* accordion + map*/
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'block';
      /* step2 */
      document.getElementsByClassName( 'area-select' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-select' )[1].style.display = 'none';
      document.getElementsByClassName( 'separator-exMain' )[0].style.display = 'none';
      document.getElementsByClassName( 'button-back' )[0].style.display = 'none';
      /* step 3 */
      document.getElementsByClassName( 'text-group' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[2].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[3].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[4].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[5].style.display = 'none';
      document.getElementsByClassName( 'separator-inMain' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-BST' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-monthYear' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-timePicker' )[0].style.display = 'none';
      document.getElementsByClassName( 'button-back' )[1].style.display = 'none';
      /* step4 */
      document.getElementsByClassName( 'area-input-group' )[0].style.display = 'none';
      /* step 5 */
      document.getElementsByClassName('text-base-title')[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[6].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[7].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[8].style.display = 'none';
      document.getElementsByClassName( 'separator-inMain' )[1].style.display = 'none';
      document.getElementsByClassName( 'input-mark' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-mapSelected' )[0].style.display = 'none';
      /* step 6 */
      document.getElementsByClassName( 'text-boldConfirm' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-boldConfirm' )[1].style.display = 'none';
      /* default */
      $('html, body').animate({scrollTop : 0},'fast'); /*.scrollTop( 0 )*/
      return false;
    }
    </script>
    <!-- step2 -->
    <script>
    function step2(){
      /* step 1 */
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-inputStudio' )[0].style.display = 'none';
      /* step 2 */
      document.getElementsByClassName('text-base-title')[0].innerHTML = "Select Your Photo Shoot";
      document.getElementsByClassName('text-base-paragraph')[0].innerHTML = "At PixiFoto we pride ourselves in offering a fun and exciting photography experience and with a variety of photo shoots to choose from, there is something for everyone.";
      document.getElementsByClassName('text-base-paragraph')[1].innerHTML = "We have the expertise to get the best results so book today and let us capture those magical moments in time, forever.";
      document.getElementsByClassName( 'area-select' )[0].style.display = 'block';
      document.getElementsByClassName( 'area-select' )[1].style.display = 'block';
      document.getElementsByClassName( 'separator-exMain' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].onclick = function(){ step1(); };
      /* step 3 */
      document.getElementsByClassName( 'text-group' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[2].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[3].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[4].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[5].style.display = 'none';
      document.getElementsByClassName( 'separator-inMain' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-BST' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-monthYear' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-timePicker' )[0].style.display = 'none';
      document.getElementsByClassName( 'button-back' )[1].style.display = 'none';
      /* step 4 */
      document.getElementsByClassName( 'area-input-group' )[0].style.display = 'none';
      /* step 5 */
      document.getElementsByClassName('text-base-title')[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[6].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[7].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[8].style.display = 'none';
      document.getElementsByClassName( 'separator-inMain' )[1].style.display = 'none';
      document.getElementsByClassName( 'input-mark' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-mapSelected' )[0].style.display = 'none';
      /* step 6 */
      document.getElementsByClassName( 'text-boldConfirm' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-boldConfirm' )[1].style.display = 'none';
      /* default */
      $('html, body').animate({scrollTop : 0},'fast'); /*.scrollTop( 0 )*/
      return false;
    }
    </script>
    <!-- step3 -->
    <script>
    function step3(){
      $('html, body').animate({scrollTop : 0},'fast');
      /* step 1*/
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-inputStudio' )[0].style.display = 'none';
      /* step 2*/
      document.getElementsByClassName( 'area-select' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-select' )[1].style.display = 'none';
      /* step 3*/
      document.getElementsByClassName('text-base-title')[0].innerHTML = "Select Your Time";
      document.getElementsByClassName('text-base-paragraph')[0].style.display = 'none';
      document.getElementsByClassName('text-base-paragraph')[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[0].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[1].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[2].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[3].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[4].style.display = 'flex';
      document.getElementsByClassName( 'separator-inMain' )[0].style.display = 'block';
      document.getElementsByClassName( 'area-BST' )[0].style.display = 'flex';
      document.getElementsByClassName( 'text-monthYear' )[0].style.display = 'block';
      document.getElementsByClassName( 'area-timePicker' )[0].style.display = 'flex';
      document.getElementsByClassName( 'button-back' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].onclick = function(){ step2(); };
      document.getElementsByClassName( 'button-back' )[1].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[1].onclick = function(){ step4(); };
      document.getElementsByClassName( 'button-back' )[1].disabled = true;
      document.getElementsByClassName( 'button-back' )[1].style.background = 'pink';
      document.getElementsByClassName( 'separator-exMain' )[0].style.display = 'block';
      /* step4 */
      document.getElementsByClassName( 'text-group' )[5].style.display = 'none';
      document.getElementsByClassName( 'area-input-group' )[0].style.display = 'none';
      /* step 5 */
      document.getElementsByClassName('text-base-title')[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[6].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[7].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[8].style.display = 'none';
      document.getElementsByClassName( 'separator-inMain' )[1].style.display = 'none';
      document.getElementsByClassName( 'input-mark' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-mapSelected' )[0].style.display = 'none';
      /* step 6 */
      document.getElementsByClassName( 'text-boldConfirm' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-boldConfirm' )[1].style.display = 'none';
      /* default */
      return false;
    }
    </script>
    <!-- step3.1 -->
    <script>
    var i,j;
    $(".Time9").css("display","none");
    $(".Time10").css("display","none");
    $(".Time11").css("display","none");
    $(".Time12").css("display","none");
    $(".Time13").css("display","none");
    $(".Time14").css("display","none");
    $(".Time15").css("display","none");
    $(".Time16").css("display","none");
    $(".Time17").css("display","none");
    $(".Time18").css("display","none");
    $(".pickTime").on({
      click:
      function step3dot1(){
        $(".area-avaliable").css("display","flex");
        $(this).find(".area-avaliable").css("display","none");
/*
        if( $(this).find(".area-avaliable").style.display="none")){
          $(this).find(".area-avaliable").css("display","block");
        }else{
          $(".area-avaliable").css("display","none");
        }
*/
       $(this).css("height","auto");
       $(this).css("min-height","70px");
       $("pickTime").addClass("step3dot1dot1Hover");
       $(this).removeClass("step3dot1dot1Hover");
       $("[class^=Time]").css("display","none");
       $(this).find("[class^=Time]").css("display","flex");
       /*
       for (i = 0; i <= 20; i++) {
        for (j = 9; j <= 18; j++) {
           if($(".pickTime[i]").style.display != "none" && $(this).find(".Time[j]").style.display="block")){
            $(".pickTime").style.display = 'none';
          }
      }else{
        $(".pickTime").style.display = 'block';
        }
       }
       */
      }

    });
    </script>
    <!-- step3.2 -->
    <script>
    var x=0;
    $(document).ready(function() {
        $('[class^=Time]').click(function() {
          var hourPicker = $(this).text();
          $('.pickTime').css("background-color","white").css("color","black");
          var item = $(this).parent().html( );
          $(this).parent().html( item + hourPicker ).css("background-color","#E36A63").css("color","white");/*.on("click" , function(){ step3dot1(); });*/

          /*
          $(".area-avaliable").not(this).css("display","flex");
          $("[class^=Time]").not(this).css("display","none");
          */
          document.getElementsByClassName( 'button-back' )[1].style.background = '#E36A63';
          document.getElementsByClassName( 'button-back' )[1].disabled = false;
          x++;
          return x;
        });
    });

    </script>
    <!-- step4 -->
    <script>
    function step4(){
      /* step1 */
      document.getElementsByClassName('text-base-paragraph')[0].style.display = 'none';
      document.getElementsByClassName('text-base-paragraph')[1].style.display = 'none';
      document.getElementsByClassName( 'area-inputStudio' )[0].style.display = 'none';
      /* accordion + map*/
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'none';
      /* step2 */
      document.getElementsByClassName( 'area-select' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-select' )[1].style.display = 'none';
      /* step 3 */
      document.getElementsByClassName( 'area-BST' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-monthYear' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-timePicker' )[0].style.display = 'none';
      /* step 4 */
      document.getElementsByClassName('text-base-title')[0].innerHTML = "Your Details";
      document.getElementsByClassName( 'text-group' )[0].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[1].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[2].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[3].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[4].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[5].style.display = 'flex';
      document.getElementsByClassName( 'separator-inMain' )[0].style.display = 'block';
      document.getElementsByClassName( 'area-input-group' )[0].style.display = 'block';
      /* step 4 inputs */
      document.getElementsByClassName( 'separator-exMain' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].onclick = function(){ step3(); };
      document.getElementsByClassName( 'button-back' )[1].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[1].disabled = false;
      document.getElementsByClassName( 'button-back' )[1].onclick = function(){ step4Confirm(); };
      /* step 5 */
      document.getElementsByClassName('text-base-title')[1].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[6].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[7].style.display = 'none';
      document.getElementsByClassName( 'text-group' )[8].style.display = 'none';
      document.getElementsByClassName( 'separator-inMain' )[1].style.display = 'none';
      document.getElementsByClassName( 'input-mark' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-mapSelected' )[0].style.display = 'none';
      /* step 6 */
      document.getElementsByClassName( 'text-boldConfirm' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-boldConfirm' )[1].style.display = 'none';
      /* default */
      $('html, body').animate({scrollTop : 0},'fast'); /*.scrollTop( 0 )*/
      return false;
    }
    </script>
    <!-- step4 Confirm -->
    <script>
    function step4Confirm(){
      /* step 4 inputs CONFIRM */
      for (i = 0; i <= 7; i++) {
        var input = document.getElementsByClassName('step4Input')[i].value;
        if( input.length==0 ){
          $('.step1Input').addClass('invalidInput');
            document.getElementsByClassName('step4Input')[i].placeholder = "No imput!!!";
        }
        else{
          document.getElementsByClassName( 'button-back' )[1].style.background = '#E36A63';
          document.getElementsByClassName( 'button-back' )[1].innerHTML = "Continue";
          document.getElementsByClassName( 'button-back' )[1].onclick = function(){ step5(); };
        }
      }
    }
    </script>
    <!-- step5 -->
    <script>
    function step5(){
      /* step1 */
      document.getElementsByClassName('text-base-paragraph')[0].style.display = 'none';
      document.getElementsByClassName('text-base-paragraph')[1].style.display = 'none';
      document.getElementsByClassName( 'area-inputStudio' )[0].style.display = 'none';
      /* accordion + map*/
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'none';
      /* step2 */
      document.getElementsByClassName( 'area-select' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-select' )[1].style.display = 'none';
      /* step 3 */
      document.getElementsByClassName( 'area-BST' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-monthYear' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-timePicker' )[0].style.display = 'none';
      /* step 4 */
      document.getElementsByClassName( 'area-input-group' )[0].style.display = 'none';
      /* step 5 */
      document.getElementsByClassName('text-base-title')[0].innerHTML = "Booking Summary";
      document.getElementsByClassName( 'text-group' )[0].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[1].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[2].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[3].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[4].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[5].style.display = 'flex';
      document.getElementsByClassName( 'separator-inMain' )[0].style.display = 'block';
      document.getElementsByClassName('text-base-title')[1].style.display = 'block';
      document.getElementsByClassName( 'text-group' )[6].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[7].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[8].style.display = 'flex';
      document.getElementsByClassName( 'separator-inMain' )[1].style.display = 'block';
      document.getElementsByClassName( 'separator-exMain' )[0].style.display = 'block';
      document.getElementsByClassName( 'input-mark' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[0].onclick = function(){ step4(); };
      document.getElementsByClassName( 'button-back' )[1].style.display = 'block';
      document.getElementsByClassName( 'button-back' )[1].disabled = true;
      document.getElementsByClassName( 'button-back' )[1].style.background = 'lightgreen';
      document.getElementsByClassName( 'button-back' )[1].innerHTML = "Pay";
      document.getElementsByClassName( 'area-mapSelected' )[0].style.display = 'block';
      /* step 6 */
      document.getElementsByClassName( 'text-boldConfirm' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-boldConfirm' )[1].style.display = 'none';
      /* default */
      $('html, body').animate({scrollTop : 0},'fast'); /*.scrollTop( 0 )*/
      return false;
    }
    /* step 5 Continue */
    $(document).ready(function () {
      $('.step5Continue').on('click',function () {
        if ($('.step5Continue').is(':checked')) {
          document.getElementsByClassName( 'button-back' )[1].disabled = false;
          document.getElementsByClassName( 'button-back' )[1].style.background = 'darkgreen';
          document.getElementsByClassName( 'button-back' )[1].onclick = function(){ step6(); };

        } else {
          document.getElementsByClassName( 'button-back' )[1].disabled = true;
          document.getElementsByClassName( 'button-back' )[1].style.background = 'lightgreen';
        }
      });
    });
    </script>
    <!-- step6 -->
    <script>
    function step6(){
      /* step1 */
      document.getElementsByClassName('text-base-paragraph')[0].style.display = 'none';
      document.getElementsByClassName('text-base-paragraph')[1].style.display = 'none';
      document.getElementsByClassName( 'area-inputStudio' )[0].style.display = 'none';
      /* accordion + map*/
      document.getElementsByClassName( 'step1dot2Main' )[0].style.display = 'none';
      /* step2 */
      document.getElementsByClassName( 'area-select' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-select' )[1].style.display = 'none';
      /* step 3 */
      document.getElementsByClassName( 'area-BST' )[0].style.display = 'none';
      document.getElementsByClassName( 'text-monthYear' )[0].style.display = 'none';
      document.getElementsByClassName( 'area-timePicker' )[0].style.display = 'none';
      /* step 4 */
      document.getElementsByClassName( 'area-input-group' )[0].style.display = 'none';
      document.getElementsByClassName( 'separator-exMain' )[1].style.display = 'none';
      document.getElementsByClassName( 'button-back' )[1].style.display = 'none';
      /* step 5 */
      document.getElementsByClassName( 'separator-exMain' )[0].style.display = 'none';
      document.getElementsByClassName( 'input-mark' )[0].style.display = 'none';
      document.getElementsByClassName( 'button-back' )[0].style.display = 'none';
      /* step 6 */
      document.getElementsByClassName('text-base-title')[0].innerHTML = "Booking Complete";
      document.getElementsByClassName( 'text-boldConfirm' )[0].style.display = 'block';
      document.getElementsByClassName( 'text-boldConfirm' )[1].style.display = 'block';
      document.getElementsByClassName( 'text-group' )[0].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[1].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[2].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[3].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[4].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[5].style.display = 'flex';
      document.getElementsByClassName( 'separator-inMain' )[0].style.display = 'block';
      document.getElementsByClassName('text-base-title')[1].style.display = 'block';
      document.getElementsByClassName( 'text-group' )[6].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[7].style.display = 'flex';
      document.getElementsByClassName( 'text-group' )[8].style.display = 'flex';
      document.getElementsByClassName( 'separator-inMain' )[1].style.display = 'block';
      document.getElementsByClassName( 'area-mapSelected' )[0].style.display = 'block';
      /* default */
      $('html, body').animate({scrollTop : 0},'fast'); /*.scrollTop( 0 )*/
      return false;
    }
    </script>
  </body>
</html>
